.contents__center
  .contents__center__main
    .contents__center__main__subject
      %p
        = icon("far", "newspaper", class: "icon", class: "article-icon")
        新着記事一覧
    .contents__center__main__articles
      .contents__center__main__articles__article
        .contents__center__main__articles__article__title
          記事タイトあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        .contents__center__main__articles__article__info
          .contents__center__main__articles__article__info__time
            = icon("far", "clock", class: "icon", class: "clock-icon")
            記事作成時間
          .contents__center__main__articles__article__info__user-name
            = icon("fas", "user", class: "icon", class: "user-icon")
            記事作成者
          .contents__center__main__articles__article__info__category
            = icon("fas", "tag", class: "icon", class: "tag-icon")
            記事カテゴリ